<footer class="bg-dark text-white pt-4 pb-3 mt-5">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-4 mb-3">
        <h5>About AesthHome</h5>
        <p>AesthHome offers the best home décor products online with fast delivery and great offers.
          <a routerLink="/about">Read More</a>
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none" routerLink="/">Home</a></li>
          <li><a class="text-white text-decoration-none" routerLink="/about">About</a></li>
          <li><a class="text-white text-decoration-none" routerLink="/products">Products</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <p>Email: support@shopforhome.com</p>
        <p>Phone: +91 8847690227</p>
        <div>
          <a class="text-white me-2" href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
          <a class="text-white me-2" href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
          <a class="text-white me-2" href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="text-center mt-3">
      <small>&copy; 2025 AesthHome. All Rights Reserved.</small>
    </div>
  </div>
</footer>
